$baseBackground: #2f3640;
$baseColor: #dcdde1;

$hoverBackground: #353b48;
$hoverColor: #f5f6fa;

$subtleColor: #718093;
$iconColor: #fbc531; // #487eb0;

$normalFont: 'Source Sans Pro', 'HelveticaNeue', 'Helvetica Neue', Helvetica,
Arial, sans-serif;
$monoFont: monospace;
$primary: #00a8ff;

html {
  font-size: 14px;
}

body {
  line-height: 1.6;
  font-weight: 500;
  font-family: $normalFont;
  color: $baseColor;
  margin: 0;
  padding: 0;
  background: $baseBackground;
}

.container {
  width: 1024px;
  padding-right: 15px;
  padding-left: 15px;
  margin-right: auto;
  margin-left: auto;
}

.experiments_list {
  margin-top: 15px;

  .experiment {
    padding: 5px;
    cursor: pointer;

    h3 {
      margin-top: 0;
      margin-bottom: 8px;
    }

    &:hover {
      background: $hoverBackground;
      color: $hoverColor;
    }
  }
}

.experiment_single {
  .run {
    cursor: pointer;
    padding: 5px;
    margin: 10px 0;

    h3 {
      margin-top: 0;
      margin-bottom: 0;
    }

    h4 {
      margin-top: 0;
      margin-bottom: 8px;

      label {
        color: $subtleColor;
      }
    }

    &:hover {
      background: $hoverBackground;
    }
  }
}

.block {
  margin: 10px 0;
}

.run_single {
  .key_value {
    &:hover {
      background: $hoverBackground;
      color: $hoverColor;
    }
  }

  div.controls {
    margin-bottom: 12px;
  }
}

.info_list {
  span.key {
    margin-right: 5px;
    opacity: 0.8;
    font-size: 0.9rem;

    &:after {
      content: ':';
    }
  }

  &.common {
    opacity: 0.3;
  }

  &.ignore {
    opacity: 0.2;
  }

  &.mono {
    span.value {
      font-family: $monoFont;
      font-size: 0.9rem;
    }
  }

  &.highlight {
    font-weight: bold;
  }

  &.only_option {
    opacity: 0.4;
  }
}

.config {
  .computed {
    //font-weight: bold;
    margin-right: 5px;
    font-family: $monoFont;
    font-size: 0.9rem;
  }

  > .option {
    margin-right: 5px;
    font-family: $monoFont;
    font-size: 0.9rem;
    color: #9c88ff;
  }

  .options {
    font-family: $monoFont;
    font-size: 0.9rem;

    &::before {
      content: '[';
      opacity: 0.7;
      color: #e84118;
    }

    &::after {
      content: ']';
      opacity: 0.7;
      color: #e84118;
    }

    span {
      &::after {
        content: ', ';
        opacity: 0.7;
        color: #e84118;
      }

      &:last-child {
        &::after {
          content: '';
          opacity: 0.7;
          color: #e84118;
        }
      }
    }
  }

  &.only_option {
    > .option {
      opacity: 0.8;
    }
  }
}

.collapsed {
  .info_list.common {
    display: none;
  }

  .info_list.ignore {
    display: none;
  }

  .info_list.only_option {
    display: none;
  }
}

.key_icon {
  margin-right: 8px;
  color: $iconColor;
  opacity: 0.7;
}

.key_split {
  display: inline-block;
  width: 16px;
}

button {
  display: inline-block;
  color: $primary;
  text-align: center;
  vertical-align: middle;
  cursor: pointer;
  user-select: none;
  border: 1px solid $primary;
  background: transparent;
  font-size: 1rem;
  padding: 0.375rem 0.75rem;
  margin-right: 12px;

  &:hover {
    opacity: 0.8;
  }

  &:active {
    opacity: 0.5;
  }

  &::-moz-focus-inner {
    border: 0;
  }

  &.small {
    font-size: 0.8rem;
    padding: 0;
    border: none;
  }

  &.danger {
    color: #e84118;
    border-color: #e84118;
  }
}

.boolean {
  color: #fbc531;
}

.int {
  color: #4cd137;
}

.float {
  color: #4cd137;
}

.string {
  color: #e84118;
}

.unknown {
  color: #f5f6fa;
}

.size_unit {
  //font-weight: bold;
  color: $hoverColor;
  font-family: $normalFont;
}

.size {
  opacity: 0.8;
}

div.table {
  display: table;

  div.row, div.header {
    white-space: nowrap;
    line-height: 0;
  }

  div.row {
    &:hover {
      background: #555b68;
    }

    &.even {
      background: #353b48;

      &:hover {
        background: #555b68;
      }
    }
  }

  div.header {
    div.cell {
      font-weight: bold;
      line-height: 3;
    }

    background: #2f3640;
    box-shadow: 00px 5px 5px -5px #000;
    position: relative;
  }

  div.cell {
    display: inline-block;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
    border-right: 1px solid #555;
    //border-bottom: 1px solid #777;
    padding: 0 4px;
    min-height: 1.5em;
    line-height: 2;

    &.same {
      width: 1em !important;
      opacity: 0.3;
    }

    &.right {
      text-align: right;
    }

    span.ignored {
      opacity: 0.25;
    }
  }
}

div.control_panel {
  padding: 10px;
  div.editor_controls {
    i {
      margin: 8px;
      cursor: pointer;
    }
  }

  div.editor {
    font-size: 0.9rem;
  }

  div.actions {
    margin-top: 12px;
  }
}